/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #7b68ee; /* Light purple */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow effect */
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow effect */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighter background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}
footer {
    background-color: #7b68ee;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.logo img {
    width: 120px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Sign In/Up Form Styles */
main {
    padding: 20px 0;
}

h2 {
    text-align: center;
    color: #7b68ee;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%; /* Set form width */
    max-width: 400px; /* Limit maximum width */
    margin: 0 auto; /* Center the form horizontally */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #7b68ee;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%; /* Full width input fields */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

button {
    background-color: #7b68ee;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Full width button */
    box-sizing: border-box; /* Ensure padding is included in width */
}

button:hover {
    background-color: #5636b8;
}

.g-recaptcha {
    margin-bottom: 15px;
}
